body{
    background-color: rgb(5, 34, 85);
}

table
{
    margin-top: 50px;
    text-align: center;
    background: rgb(222, 233, 17);
    color: rgba(12, 12, 16, 0.918);
    font-size: 19px;
    
}
#show th,#show td{
    padding: 13px;
}
#btna td input{
    width: 100%;
    background-color: rgb(235, 9, 9);
    color: rgba(255, 255, 255, 0.893);
    font-size: 22px;
    border-radius: 1rem;
    border-color: rgb(11, 11, 11);
}
#me{
    width: 350px;
    height: 300px;
}